services:
  order-service:
    build:
      context: ./order-service
      target: development
    container_name: order-service
    ports:
      - 4000:4000
    volumes:
      - ./order-service:/app
    depends_on:
      order-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/readyz"]
      interval: 5s
      timeout: 2s
      retries: 5

  notification-service:
    build:
      context: ./notification-service
      target: development
    container_name: notification-service
    # ports:
    #   - 4001:4000
    volumes:
      - ./notification-service:/app
    depends_on:
      notification-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/readyz"]
      interval: 5s
      timeout: 2s
      retries: 5

  order-db:
    image: postgres:15
    container_name: order-db
    # ports:
    #   - 5432:5432
    environment:
      - POSTGRES_DB=order-service
      - POSTGRES_PASSWORD=password
    volumes:
      - ./order-service/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d order-service"]
      interval: 5s
      timeout: 2s
      retries: 5

  notification-db:
    image: postgres:15
    container_name: notification-db
    # ports:
    #   - 5433:5432
    environment:
      - POSTGRES_DB=notification-service
      - POSTGRES_PASSWORD=password
    volumes:
      - ./notification-service/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d notification-service"]
      interval: 5s
      timeout: 2s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=default
      - RABBITMQ_DEFAULT_PASS=default
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 5s
      timeout: 2s
      retries: 5

  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9090/-/healthy || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 5

  jaeger:
    image: jaegertracing/all-in-one:1.56
    container_name: jaegar
    ports:
      - "16686:16686" # UI
      # - "4318:4318" # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:16686 || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 5

  grafana:
    image: grafana/grafana-enterprise:11.3.0
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      prometheus:
        condition: service_healthy
    healthcheck:
      test:
        ["CMD-SHELL", "wget -qO- http://localhost:3000/api/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 5
